{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'bitly:create_url' %}">{% trans "create url" %}</a>
{% else %}
    <p>To get started, you need to login</p>
{% endif %}

{% endblock %}
