{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Get short url</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}
{% endblock %}
