{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <a href="{% url 'bitly:redirect_by_url' pk=obj.pk %}">{{ request.get_host }}/{{ obj.short_url }}</a>
    {% if not created %}
        <p>Number of clicks on this link: {{ obj.counter }}</p>
    {% endif %}
{% endblock %}
